$background_top: #e6356f;
$icon_color: #fff;

.back-to-top {
  border-radius: 9px;
  position: fixed;
  bottom: 120px;
  right: 60px;
  z-index: 9999;
  display: none; /* Ẩn nút mặc định */

  &.visible {
    display: block; /* Hiển thị nút khi cuộn xuống */
  }

  .back-to-top-btn {
    background-color: $background_top;
    color: $icon_color;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      background: none;
      color: #e6356f;
      transform: scale(1.1);
    }

    &:focus {
      outline: none; /* Xóa viền khi focus */
    }
  }
}
