.testimonials__form {
  background: #130f25 !important;
  padding: 20px 0;

  .testimonials__header {
    margin: 30px 50px;
    color: #ddd;
  }

  .testimonials__container {
    display: flex;
    margin: 30px 50px;

    .testimonials__subtitle {
      width: 80%;
      font-style: 18px;
      color: #e7005e;
      margin-right: 20px;
    }

    .testimonials__cards {
      display: grid;
      grid-gap: 20px;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .reviewCard {
      position: relative;
      background-color: #242145;
      width: 100%;
      height: auto;
      border-radius: 9px;
      display: flex;
      gap: 10px;
      align-items: center;
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      font-size: 14px;
    }

    .reviewerName {
      position: absolute;
      top: -16px;
      left: 10px;
      // background-color: #ddd;
      color: #ff7b47;
      // font-weight: bold;
      padding: 0 8px;
      font-size: 14px;
      line-height: 1;
      z-index: 1;
    }

    .reviewText {
      font-size: 14px;
      width: 100%;
      margin-bottom: 0;
      color: #ffffff;
      line-height: 1.2;

      word-wrap: break-word;
      word-break: break-word;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
