.testimonials__form {
  background: #eeecec;
  padding: 20px 0;

  .testimonials__header {
    margin: 30px 50px;
  }

  .testimonials__container {
    display: flex;
    margin: 30px 50px;

    .testimonials__subtitle {
      width: 80%;
      font-style: 18px;
      color: #47775f;
    }

    .testimonials__cards {
      display: grid;
      grid-gap: 20px; /* Khoảng cách giữa các card */
      width: 100%; /* Chiếm toàn bộ chiều rộng của container */
      max-width: 1000px; /* Giới hạn chiều rộng tối đa */
      margin: 0 auto; /* Căn giữa container */

      /* Responsive grid layout */
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      /* Chia đều cột card với min-width 200px và tối đa chiếm 1 phần không gian của container */
    }

    .reviewCard {
      background-color: #fff;
      width: 100%;
      height: auto;
      border-radius: 9px;
      display: flex;
      gap: 10px;
      align-items: center;
      border: 1px solid #ddd;
      padding: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      font-size: 14px;
    }

    // .avatar {
    //   margin-bottom: 10px;
    // }

    .reviewText {
      font-size: 14px;
      width: 100%; /* Đảm bảo văn bản chiếm toàn bộ chiều rộng của card */
      margin-bottom: 0;
      color: #555;
      line-height: 1.2;

      /* Đảm bảo văn bản xuống dòng khi hết không gian */
      word-wrap: break-word; /* Cho phép từ dài xuống dòng khi cần */
      word-break: break-word; /* Đảm bảo từ không bị kéo dài ra ngoài */

      /* Giới hạn tối đa 2 dòng, nếu muốn */
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
      -webkit-box-orient: vertical;

      /* Ẩn phần văn bản vượt quá */
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
