@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Playfair+Display:wght@512&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@600&family=Frank+Ruhl+Libre:wght@300..900&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@600&family=Exo:ital,wght@0,500;1,500&family=Frank+Ruhl+Libre:wght@300..900&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@700&family=Exo:ital,wght@0,500;1,500&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Great+Vibes&family=Quattrocento:wght@400;700&display=swap");

.certificates-scroll-view {
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(
    45deg,
    #001f3f,
    #0074d9,
    #7fdbff,
    #b0c4de,
    #4682b4
  );
  background-size: 400% 400%;
  animation: rainbow-animation 12s ease infinite;

  @keyframes rainbow-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  /* Ẩn thanh cuộn cho các trình duyệt Webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  /* Ẩn thanh cuộn cho Firefox */
  scrollbar-width: none;

  /* Ẩn thanh cuộn cho IE và Edge */
  -ms-overflow-style: none;

  .certificates-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px; // Khoảng cách giữa các certificates

    .form-certificates {
      display: flex;
      justify-content: center;
      align-content: space-evenly;
      align-items: center;
      background-image: url("../../assets/img/Certificate3.png");
      background-size: cover;
      background-position: center;
      width: 1000px;
      height: 700px;
      background-color: #f9f5e9;
      text-align: center;
      position: relative;
      z-index: 100;

      .certificates-username {
        font-size: 40px;
        font-family: "Great Vibes", cursive;
        margin: 25px 0;
        padding-top: 25px;
        color: #1e90ff;
      }

      .certificates-footer {
        display: flex;
        justify-content: space-around;
        font-family: "Quattrocento", cursive;
        font-weight: bold;
        position: absolute;
        bottom: 18%;
        width: 100%;

        .signature-section {
          text-align: center;

          .certificates-course .value,
          .value {
            display: block;
            margin-bottom: 15px;
            font-family: "Quattrocento", cursive;
            color: #1e90ff;
          }

          .signature {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.certificates-loading,
.certificates-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}
