.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer; // Thay đổi con trỏ chuột khi hover
    transition: transform 0.5s; // Hiệu ứng khi hover

    &:hover {
      transform: scale(1.05); // Phóng to một chút khi hover
    }

    .logo-icon {
      padding: 10px;
      border-radius: 50%;
      font-size: 1.5rem;
      margin-right: 10px;
    }

    .logo-text {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  &__search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;

    input {
      width: 100%;
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 20px;
      outline: none;
    }

    .search-icon {
      margin-left: -30px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    .btn {
      padding: 8px 16px;
      border-radius: 5px;
      margin-left: 10px;
      cursor: pointer;
      &--outline {
        background-color: transparent;
        border: 1px solid #0071e2;
        color: #0071e2;
      }
      &--primary {
        background-color: #0071e2;
        border: none;
        color: #fff;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;

    &__search {
      margin: 10px 0;
    }

    &__actions {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
