/* User Page Wrapper */
.user-page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.user-header {
  flex-shrink: 0;
}

/* Main Content */
.user-main {
  background-color: rgb(236, 235, 235);
  flex-grow: 1;
}

/* Footer */
.user-footer {
  flex-shrink: 0;
  height: 50px;
  background-color: rgba(121, 211, 231, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
